.flexModal-Delete{
    display: flex;
    flex-direction: column;
    height: 200px !important;
    width: 300px;
}

.removeBlockDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.removeBlockDisplay p{
    margin-top: 10px;
    font-weight: 600;
}
.removeBlockDisplay button{
    margin-bottom: 10px;
}