body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.cursor-pointer {
	cursor: pointer;
}

.impt {
	color: red;
}

.dropdown-div {
	background: #fff;
	border: 1px solid rgb(131, 138, 182);
	position: absolute;
	z-index: 999;
	width: 90%;
}

.select2-container {
	width: 100% !important;
}

.select2-container--default .select2-selection--single {
	height: calc(2.25rem + 2px) !important;
	color: #777ab2 !important;
	border: 1px solid #ced4da !important;
}

.select2-container--default .select2-selection--single:focus {
	border-color: #5458b3 !important;
}

.select2-container--default .select2-selection__rendered {
	height: calc(2.25rem + 2px) !important;
	padding-top: 4px;
}

.select2-container:focus {
	border-color: #5458b3 !important;
}

.dropdown-btn {
	padding: 10px;
	margin: 0;
}

.dropdown-btn:hover {
	background: #838ab6;
	color: white !important;
}

.select2-padding .css-g1d714-ValueContainer {
	/* padding: 2px 59px 2px 8px !important; */
	padding: 2px 4px 2px 0px !important;
	width: 65px !important;
}

.css-1hwfws3 {
	/* padding: 2px 4px 2px 0px !important; */
	width: 65px !important;
}

.select2-padding .css-yk16xz-control {
	padding-left: 10px !important;
}

.c-date-picker .react-datepicker-wrapper {
	width: 100% !important;
}

input::placeholder {
	opacity: 0.3 !important;
}

.form-control::placeholder {
	opacity: 0.3 !important;
}

.add-cursor {
	cursor: pointer;
}

.add-link {
	text-decoration: underline !important;
	cursor: pointer;
}

.add-link:hover {
	font-weight: bold;
}

.add-delete {
	text-decoration: underline !important;
	cursor: pointer;
	color: blue !important;
}

.add-delete:hover {
	color: red !important;
}

.max-delete-btn {
	position: absolute;
	/* left: 147px; */
	top: 2px;
}

.mv-max-delete .form-inline {
	justify-content: center !important;
}



.font-bold {
	font-weight: 600 !important;
}

thead .thead-th {
	font-weight: 600 !important;
	background-color: #f6f6f9 !important;
}

.custom-appraisal-btn .btn{
	line-height: 23px !important;
	letter-spacing: .4px !important;
	/* box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08); */
	cursor: pointer !important;

	font-size: 12px !important;
	line-height: 30px !important;
	text-align: center !important;
	height: 30px !important;
	color: white !important;

	background: linear-gradient(180deg, #F85359 3.03%, #DC151D 97.78%) !important;
	border: 1px solid #DB161E !important;
	box-sizing: border-box !important;
	border-radius: 4px !important;
	width: 200px !important;
	text-align: center;
}

.custom-kpi-header .btn {
	padding: 0 !important;
	font-size: 12px !important;
	border-radius: 30px !important;
	line-height: 30px !important;
	border: 1px solid #edeaea !important;
	width: 119px !important;
	text-align: center !important;
	height: 43px !important;
	background-color: #012F5D !important;
	color: white !important;
	
}
button.focus, button:focus {
	outline: 0 !important;
	box-shadow: none!important;
}

.custom-kpi-header .btn :hover{
	background-color: #012F5D !important;
	color: white !important;
}

@media (min-width: 992px) {
	.modal-lg {
		max-width: 850px !important;
	}
}


@media (max-width: 426px) {
	.max-delete-btn {
		top: 25px !important;
	}
}

@media (max-width: 321px) {
	.max-delete-btn {
		/* left: 105px !important; */
	}
	.mv-max-delete .form-inline {
		justify-content: flex-end !important;
	}
}
