.remove-paddings {
	padding: 0 !important;
}

.wrap {
	background-color: whitesmoke;
	display: flex;
	align-items: flex-start;
	width: 100vw;
	height: 100%;
}

.section-o {
	height: 100%;
	margin-bottom: 50px;
}

.wrapList {
	list-style-type: none;
	height: 160px;
	background-color: white;
	filter: drop-shadow(1px 1px 1px rgba(128, 128, 128, 0.411));
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: flex-start;
	width: 160px;
	padding: 0;
	margin: 0;
	padding-left: 14px;
	padding-top: 15px;
	border-radius: 10px;
	margin-right: 60px;
	margin-left: 15px;
}

.wrapList li {
	padding: 5px;
	margin: 0;
	font-weight: 700;
	width: 100%;
}

.wrapList li:hover {
	background-color: #0069d9;
	cursor: pointer;
	color: white !important;
}

.fff {
	padding: 5px;
}

.chatCon {
	display: flex;
	flex-direction: column;
	background-color: white;
}

.inbox-head-chat {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	height: 70px;
	text-align: center;
}

.headActions1 {
	display: flex;
	padding: 30px;
}

.overal {
	display: flex;
	flex-direction: column;
	line-height: 3;
}

.overalspan1 {
	height: 0;
	padding: 0 5px 17px 5px;
	color: #999999;
	white-space: nowrap;
	font-size: 13px;
}

.overalspan2 {
	font-size: 12px;
	white-space: nowrap;
}

.inbox-head-fa {
	/* width: 50px; */
	/* height: 50px; */
	/* border-radius: 25px; */
	background: rgba(0, 55, 102, 0.1);
	text-align: center;
	/* line-height: 2; */
	padding: 13px;
	border-radius: 25px;
	margin: 5px;
	background-size: contain;
	font-size: 12px;
	color: #003766;
	font-weight: 700;
	margin-top: 12px;
}

.chat-num {
	font-weight: bold;
	font-size: 14px;
	padding-right: 5px;
	letter-spacing: -0.3px;
	white-space: nowrap;
	color: #003766;
}

.search-Icon-Chat {
	position: relative;
	right: 30px;
	color: #000000;
	mix-blend-mode: normal;
	opacity: 0.5;
	cursor: pointer;
	z-index: 10099;
}

.head-section-two {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 27px 20px 36px;
}

.head-section-two-input input {
	width: 250px;
	height: 40px;
	border-radius: 5px !important;
	background: rgba(0, 0, 0, 0.0001);
	border: 1px solid rgba(0, 0, 0, 0.24);
	padding-left: 8px;
	box-sizing: border-box;
}

.head-section-two-input input::placeholder {
	margin-left: 5px;
	padding-left: 20px;
	color: #8d8d8d;
	font-size: 17px;
}

.nextChatBlock span:first-child {
	padding-right: 7px;
	color: #999999;
	font-size: 15px;
	cursor: pointer;
}

.nextChatBlock span:last-child {
	padding-left: 7px;
	color: #999999;
	font-size: 15px;
	cursor: pointer;
}

.nextChatBlock .nextChatcount {
	font-size: 13px;
	color: #999999;
}

.button-container button {
	margin: 5px;
	width: 70px;
	background: #003766;
	border-radius: 4px;
}

@media (max-width: 679px) {
	.head-section-two {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
	}
	.head-section-two-input input {
		width: 70vw;
		margin-bottom: 20px;
	}
	.button-container {
		margin-top: 20px;
	}
	.inbox-head-chat {
		display: none;
	}
}

.inbox-head-chat .inbox-headi {
	font-weight: 600;
	padding-left: 10px;
}

.inbox-head-chat .inbox-head-name button {
	background-color: #013362;
	border: none;
	margin-bottom: 4px;
}

.inbox-head-chat .inbox-head-name button:hover {
	background-color: #013362 !important;
}

.inbox-head-chat .inbox-head-name {
	font-weight: 600;
	padding-right: 12px;
}

.nowrap {
	margin: 0 !important;
}

.TaBle-chat {
	border-style: solid;
	width: 60vw !important;
	height: 60vh;
	background-color: white;
	border: none;
	padding-top: 0;
	margin-top: 0;
	filter: drop-shadow(1px 1px 1px rgba(128, 128, 128, 0.411));
	margin-top: 20px;
	border-collapse: collapse;
	overflow: scroll;
	white-space: nowrap;
	padding: 70px;
}

.td-chat {
	text-align: center;
	padding: 0;
	margin: 0;
	border-spacing: 0;
	text-align: start;
	padding-left: 10px;
	white-space: nowrap;
}

.table-th-chat {
	text-align: start;
}

.table-tr-chat {
	text-align: start !important;
	background: #fafafa;
	border-radius: 5px;
}

tbody .table-tr-chat:hover {
	background-color: #0069d9;
	color: white !important;
	cursor: pointer;
}

.animation {
	animation: chats 500ms ease-in forwards;
}

@keyframes chats {
	0% {
		opacity: 0;
		transform: translateX(400px);
	}
	100% {
		transform: translateX(0);
	}
}

.coloe {
	color: white;
	background-color: #0069d9;
}

.hideform {
	display: none;
}

.showgroupDetails {
	display: block;
}

.chat {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.sendertoggle img {
	width: 25px;
	height: 15px;
	background-position: center;
	background-size: contain;
}

.inputchat {
	padding: 7px;
	width: 74%;
	/* border: 0; */
	top: 13px;
	/* background: #F9FBFF; */
	background: rgba(0, 0, 0, 0.0001);
	border: 0.5px solid rgba(0, 0, 0, 0.192);
	box-sizing: border-box;
	border-radius: 5px;
}

.inputchat::placeholder {
	color: #8d8d8d;
}

.inputchat:focus {
	color: grey;
	outline: none;
}

.bottom-bar {
	position: fixed;
	width: 100%;
	height: 65px;
	bottom: 0;
	background: white;
	border-radius: 0 0 -1px 10px;
	margin-top: 90px;
	border-top: 1px solid #b6b5b5;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.bottom-bar .fa-paperclip {
	font-size: 20px;
	transform: rotate(226deg);
	color: #000000;
	mix-blend-mode: normal;
	opacity: 0.4;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.bottom-bar .fa-microphone {
	font-size: 20px;
	color: #000000;
	mix-blend-mode: normal;
	opacity: 0.4;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.bottom-bar .fa-smile-o {
	font-size: 20px;
	color: orange;
	mix-blend-mode: normal;
	cursor: pointer;
}

.chatwrappongoing {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	/* text-align: center; */
	margin-bottom: 10px;
}

.chatwrappUpcoming {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	/* text-align: center; */
	margin-bottom: 10px;
}

.position-breaker {
	margin-bottom: 60px;
}

.chatBox {
	background-color: white;
	width: 49vw;
	height: 357px;
	filter: drop-shadow(10px 6px 7px grey);
}

@media (min-width: 1247px) {
	.chatBox {
		margin-right: 120px;
		margin-bottom: 20px;
		margin-top: 10px;
	}
}

.responsive-chat {
	width: 49vw;
	height: 100%;
	overflow-x: scroll;
	padding-bottom: 50px;
}

.responsive-chat::-webkit-scrollbar {
	background-color: #00366642;
	width: 8px;
}

.chatHead {
	height: 50px;
	width: 100%;
	background: #003766;
	border-radius: 5px 5px 0 0;
	color: white;
	display: flex;
	justify-content: space-between;
	/* text-align: center; */
	align-items: center;
	padding: 25px;
	position: fixed;
	filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.473));
}

.upcomingMessageg {
	background: #f1f1f1;
	width: fit-content;
	padding: 10px;
	color: #003766;
	border-radius: 8px 0px 0px 8px;
	margin: 10px 5px 5px 0;
	height: fit-content;
	line-height: 2;
	text-align: start;
	margin: 0;
	max-width: 500px;
	box-shadow: 0px 4px 8px rgba(50, 50, 71, 0.06), 0px 4px 4px rgba(50, 50, 71, 0.08);
	border-radius: 20px 20px 20px 2px;
	margin: 20px;
}

.ongoingMessageg {
	background: #003766;
	width: fit-content;
	padding: 10px;
	color: white;
	border-radius: 8px 0px 0px 8px;
	margin: 10px 5px 5px 0;
	height: fit-content;
	line-height: 2;
	text-align: start;
	margin: 0;
	max-width: 500px;
	box-shadow: 0px 4px 8px rgba(50, 50, 71, 0.06), 0px 4px 4px rgba(50, 50, 71, 0.08);
	border-radius: 20px 2px 20px 20px;
	margin-right: 20px;
	margin-left: 9px;
}

.ongoingMessageg p {
	margin: 0;
}

.openChat {
	position: fixed;
	bottom: 0;
	right: 0;
	margin-right: 50px;
	z-index: 9999999;
	font-size: 20px;
	background: #003262;
	border-radius: 25px;
	width: 50px;
	height: 50px;
	color: white;
	text-align: center;
	line-height: 2.5;
	margin-bottom: 20px;
	cursor: pointer;
}

.extrchatred {
	background-color: #fcb6a7;
	border: none;
}

.extrchatblue {
	background-color: #e7f5ff;
	border: none;
}

@media (max-width: 1228px) {
	.wrap {
		flex-direction: column;
	}
	.wrapList {
		margin-bottom: 25px;
	}
}

@media (max-width: 932px) {
	.table-responsivee {
		width: 100vw;
		overflow: scroll;
	}
	TaBle-chat {}
	.chatCon {
		/* width: 100vw;
    white-space: normal;
   overflow:scroll; */
	}
}

.table-responsivee {
	/* overflow:scroll; */
}

@media (max-width: 1228px) {
	.centerChat {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		margin: auto;
		margin-left: 20px;
	}
	.responsive-chat, .chatBox {
		width: 60vw;
		margin-bottom: 50px;
	}
}

@media (max-width: 770px) {
	.centerChat {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto;
		margin-left: 20px;
	}
	.responsive-chat, .chatBox {
		width: 90vw;
		margin-bottom: 50px;
	}
}

@media (max-width: 375px) {
	.centerChat {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		margin-left: 20px;
	}
	.responsive-chat, .chatBox {
		width: 90vw;
		margin-bottom: 50px;
	}
}